NODE_ENV=development

PORT=5000
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:5000

DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require

BETTER_AUTH_SECRET=your-better-auth-secret-min-20-chars
BETTER_AUTH_URL=http://localhost:5000/api/auth

GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
FACEBOOK_CLIENT_ID=your-facebook-client-id
FACEBOOK_CLIENT_SECRET=your-facebook-client-secret

CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret

STRIPE_SECRET_KEY=sk_test_your-stripe-secret-key

STRIPE_WEBHOOK_SECRET=whsec_your-stripe-webhook-secret
STRIPE_PUBLISHABLE_KEY=pk_test_your-stripe-publishable-key
STRIPE_SUCCESS_URL=http://localhost:3000/payment/success
STRIPE_CANCEL_URL=http://localhost:3000/payment/cancel


AI_PROVIDER=openai
OPENAI_API_KEY=sk-proj-your-openai-api-key