
PORT=5000
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:5000

DATABASE_URL=postgresql://neondb_owner:npg_ap2VQOcRTB9S@ep-cool-frost-an80r4rj-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

BETTER_AUTH_SECRET=cJTAgAbJahh773wQEd9CcP1clckggOKN
BETTER_AUTH_URL=http://localhost:5000



STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_SUCCESS_URL=http://localhost:5173/payment/success
STRIPE_CANCEL_URL=http://localhost:5173/payment/cancel



AI_PROVIDER=openai
OPENAI_API_KEY=""